* {
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e9fdfd;
}

#navbar {
	background-color: #3B82F6;
	width: 100%;
}

.nav-link {
	color: blanchedalmond !important;
	font-weight: bolder !important;
	opacity: 1 !important;
}

.card {
	height: 100%;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	border-radius: 15px;
	height: 550px;

}

#tools-1 img {
	width: 120px;
	height: 120px;
}

#tools-2 img {
	width: 120px;
	height: 120px;
}

#tools-3 img {
	width: 120px;
	height: 120px;
}

#landing {
	margin-top: 10em;
}

.cards-container {
	row-gap: 2em;
}

.card-container {
	padding: 0 1em;
}

#footer {
	width: 100%;
}